<% provide(:title, "編集 - " + @artist.pxvname) %>
<h1><%= @artist.pxvname %> - 編集</h1>
    <%
=begin %>
  <%= link_to "Back to artists", artists_path %>
    <%
=end %>

<%= render "form", artist: @artist %>

<br>

<div>
  <%= link_to "Show this artist", @artist %> |
</div>
