<% provide(:title, "nje一覧") %>

<h1>nje</h1>

<table border="1" rules="all">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>njeid</th>
        <th>show</th>
    </tr>
    <% @nje_artist_list.each do |key, artist| %>
        <tr>
            <td>id</td>
            <td>
                <%= %!#{artist.nje_name}! %>
            </td>
            <td>
                <%= link_to artist.nje_id, Nje::nje_member_url(artist.nje_id.to_s), target: :_blank, rel: "noopener noreferrer" %>
            </td>
            <td>
                <%= link_to "show", key.to_s, target: :_blank, rel: "noopener noreferrer" %>
            </td>
        </tr>
    <% end %>
</table>
