<% provide(:title, "stats") %>

<h1>stats</h1>

<% @rating.each do |key, val| %>
    <%= %!#{key}:#{val}! %><br />
<% end %>

<% @r18.each do |key, val| %>
    <%= %!"#{key}":#{val}! %><br />
<% end %>
