<% provide(:title, "home") %>
<h1>My Application</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= @message %>
<ul>
<% 
=begin %>
<% @links.each do |link| %>
  <li><a href="/<%= link %>"><%= link %></a></li>
<% end %>
<% 
=end %>
<% @menus.each do |menu| %>
  <li><%= link_to menu[:label], menu[:path], target: :_blank, rel: "noopener noreferrer" %></li>
<% end %>
</ul>